body {
    background-color: #eaf6f6;
}
hr {
    background-color: white;
    border-style: dotted none none;
    border-width: 5px 0 0;
    border-color: gray;
    width: 2%;
}
h1 {
    color: #66bfbf;
}
h3 {
    color: #66bfbf;
}